
<svg class="js-svg-draw" x="0px" y="0px" width="100%" viewBox="0 0 401.7 267.1">
  <rect x="67.9" y="27.5" class="banner__window-path" width="5.2" height="15.8"/>
  <rect x="67.9" y="224.4" class="banner__window-path" width="5.2" height="15.8"/>
  <rect x="328.3" y="27.5" class="banner__window-path" width="5.2" height="15.8"/>
  <rect x="328.3" y="224.4" class="banner__window-path" width="5.2" height="15.8"/>
  <path class="banner__window-path" d="M318.9,266.4H82.3c-8,0-14.4-6.6-14.4-14.4V15.1c0-8,6.6-14.4,14.4-14.4h236.8c8,0,14.4,6.6,14.4,14.4v236.6
  	C333.3,259.8,326.9,266.4,318.9,266.4z"/>
  <polygon class="banner__window-path" points="67.9,253.5 0.8,266.4 0.8,0.8 67.9,14.1 "/>
  <polygon class="banner__window-path" points="58.5,239.2 18.5,245.6 18.5,21.5 58.5,28.5 "/>
  <line class="banner__window-path" x1="9.6" y1="140.4" x2="9.6" y2="255.6"/>
  <line class="banner__window-path" x1="9.6" y1="9.8" x2="9.6" y2="124.6"/>
  <path class="banner__window-path" d="M12.1,31.4c0,0-1.2,0-2.4,0s-2.4,0-2.4,0s1.2,0,2.4,0S12.1,31.4,12.1,31.4z"/>
  <path class="banner__window-path" d="M12.1,35.5c0,0-1.2,0-2.4,0s-2.4,0-2.4,0s1.2,0,2.4,0S12.1,35.5,12.1,35.5z"/>
  <path class="banner__window-path" d="M12.1,226.8c0,0-1.2,0-2.4,0s-2.4,0-2.4,0s1.2,0,2.4,0S12.1,226.8,12.1,226.8z"/>
  <path class="banner__window-path" d="M12.1,231.1c0,0-1.2,0-2.4,0s-2.4,0-2.4,0s1.2,0,2.4,0S12.1,231.1,12.1,231.1z"/>
  <rect x="7.2" y="124.6" class="banner__window-path" width="5.2" height="15.4"/>
  <line class="banner__window-path" x1="18.5" y1="51.8" x2="58.5" y2="57.8"/>
  <line class="banner__window-path" x1="18.5" y1="35.5" x2="58.5" y2="42.5"/>
  <line class="banner__window-path" x1="18.5" y1="67.5" x2="58.5" y2="73.5"/>
  <line class="banner__window-path" x1="18.5" y1="83.7" x2="58.5" y2="88.7"/>
  <line class="banner__window-path" x1="18.5" y1="99.4" x2="58.5" y2="104.4"/>
  <line class="banner__window-path" x1="18.5" y1="116.1" x2="58.5" y2="119.1"/>
  <line class="banner__window-path" x1="18.5" y1="133.3" x2="58.5" y2="133.3"/>
  <line class="banner__window-path" x1="58.5" y1="224.1" x2="18.5" y2="231"/>
  <line class="banner__window-path" x1="58.5" y1="208.8" x2="18.5" y2="214.8"/>
  <line class="banner__window-path" x1="58.5" y1="193.1" x2="18.5" y2="199.1"/>
  <line class="banner__window-path" x1="58.5" y1="177.9" x2="18.5" y2="182.9"/>
  <line class="banner__window-path" x1="58.5" y1="162.2" x2="18.5" y2="167.2"/>
  <line class="banner__window-path" x1="58.5" y1="147.5" x2="18.5" y2="150.5"/>
  <polygon class="banner__window-path" points="333.5,14.1 401,0.8 401,266.4 333.5,253.5 "/>
  <rect x="389.4" y="126.8" class="banner__window-path" width="5.2" height="15.4"/>
  <polygon class="banner__window-path" points="343.4,28.5 383.4,21.5 383.4,245.6 343.4,239.2 "/>
  <line class="banner__window-path" x1="343.4" y1="57.8" x2="383.4" y2="51.8"/>
  <line class="banner__window-path" x1="343.4" y1="42.5" x2="383.4" y2="35.5"/>
  <line class="banner__window-path" x1="343.4" y1="73.5" x2="383.4" y2="67.5"/>
  <line class="banner__window-path" x1="343.4" y1="88.7" x2="383.4" y2="83.7"/>
  <line class="banner__window-path" x1="343.4" y1="104.4" x2="383.4" y2="99.4"/>
  <line class="banner__window-path" x1="343.4" y1="119.1" x2="383.4" y2="116.1"/>
  <line class="banner__window-path" x1="343.4" y1="133.3" x2="383.4" y2="133.3"/>
  <line class="banner__window-path" x1="383.4" y1="231" x2="343.4" y2="224.1"/>
  <line class="banner__window-path" x1="383.4" y1="214.8" x2="343.4" y2="208.8"/>
  <line class="banner__window-path" x1="383.4" y1="199.1" x2="343.4" y2="193.1"/>
  <line class="banner__window-path" x1="383.4" y1="182.9" x2="343.4" y2="177.9"/>
  <line class="banner__window-path" x1="383.4" y1="167.2" x2="343.4" y2="162.2"/>
  <line class="banner__window-path" x1="383.4" y1="150.5" x2="343.4" y2="147.5"/>

</svg>
