---
layout: default
id: overview
locale: uk


title: Thailand | Real people, real journeys


intro: >
  <p class="p--xxxxl text--bold">Upload your video below to complete your entry into the competition!</p>
  <hr class="hr--center">
  <p class="p--xxl text--bold">What we're looking for:</p>
  <p class="p--xxl text--medium">
    1. tell us why Portugal is your dream place and what you are most looking forward to on a trip to Portugal <br>
    2. the video must not be longer than 2 minutes and should be in landscape format.
  </p>

---


{% include nav/header.html %}
<div class="page-bg"></div>


<div class="container container--xxl vpad--xxl text--center">
  <div class="title-svg"></div>
</div>

<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
  <div class="space--md"></div>
  <iframe src="https://we.tl/send/de/secretescapes" width="290" height="50" frameborder="0"></iframe>
</div>
<div class="space--xxl"></div>


{% include nav/footer.html %}
