---
layout: default
id: overview
locale: uk


title: Thailand | Real people, real journeys


intro: >
  <p class="p--xxl ">We want to showcase the wonders of the ultimate Secret Escape to Thailand through the eyes of the traveller, and we want YOU to experience it! We are looking for a passionate travelling duo to send on holiday with a small film crew. You will get to taste, meet, see, feel, LIVE the very best of Thailand.</p>
  <hr class="hr--center">
  <p class="p--xxxxl ">To enter, record a short video telling us: </p>
  <p class="p--xxxxl text--bold">
    1. What excites you most about Thailand? <br />
    2. Who would you bring on this trip of a lifetime and why?
  </p>
  <div class="space--md"></div>
  <a href="#enter" class="btn">Enter now</a>


journey:

  - title: Your adventure begins
    content: >
      <p>There’s a reason why Thailand is such a well-loved travel destination, but don’t just take our word for it. On this trip, you’ll get up close to the floating food markets, explore ornate temples, try your hand at a cooking class and travel by tuk tuk along the bustling streets.</p>

  - title: A journey of discovery
    content: >
      <p>Then we'll depart the bustling cities and discover the natural wonders of Thailand. Swim through sea caves, kayak in blue lagoons and marvel at the limestone cliffs. After all the activity you might be in need of some rest and relaxation. Lucky for you Thailand is the perfect place to recline on a sun-soaked beach and let the worries of the world float away.</p>

  - title: Choose your travel partner
    content: >
      <p>Social distancing has meant some of us have been away from our loved ones for the longest periods of our lives. Now that we can safely be together again, we want to know who you would choose to spend this once in a lifetime experience with? Perhaps an adventurous parent who’s always dreamed of travelling to Thailand, or a budding young photography friend who has some serious talent to show off? Maybe it’s someone who lives halfway around the world who you haven’t seen for years and you want to reunite in one of the greatest places on earth?</p>

  - title: Welcome
    content: >
      <p>Thailand is eager to welcome guests back, and after a period of no travel, it’s arguably more beautiful than ever. The beaches are sparse and plentiful, making it easy to feel like you have them to yourself. When the time is right we’ll be jetting you and your travel buddy off to this incredible country for some much-needed winter sun and adventure.</p>


form-cta:
  title: Thailand is waiting
  content: >
    <p class="p--xxl">To be in to win this trip of a lifetime submit your video below telling us:</p>
    <p class="p--xxl text--bold">
      What excites you most about Thailand?<br />
      Who would you bring on this trip of a lifetime and why?
    </p>
    <p class="p--xxl">Enter now!</p>

---


{% include nav/header.html %}
<div class="page-bg"></div>


<div class="container container--xxl vpad--xxl text--center">
  <div class="title-svg"></div>
</div>

{% include page/banner.html %}

<div class="container container--xxl vpad--xxl text--center">
  <div class="width width--xl">
    {{page.intro}}
  </div>

  <div class="space--xl"></div>

  <div class="journey__before"></div>
  <div class="journey">
    {% for item in page.journey %}
    <div class="step{% cycle '', ' step--swap'%}">
      <div class="step__img">
        <div class="step__img-icon" style="background-image: url({{site.img}}/{{page.id}}/step-{{forloop.index}}.jpg);"></div>
      </div>
      <div class="step__text">
        <h4 class="h h--sm">{{item.title}}</h4>
        <div class="space--xxs"></div>
        <span class=" p--xl">{{item.content}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="journey__after"></div>

  <div class="space--lg"></div>

  <div class="width width--xl text--center" id="enter">
    <h4 class="h h--lg">{{page.form-cta.title}}</h4>
    {{page.form-cta.content}}
    <div class="space--md"></div>

    <!-- Exavault -->
    <div class="space--md"></div>
    <script src="https://secretescapes.exavault.com/ev-receive-widget"></script>
    <div id='widget-container-wrap' data-hash="24db3-f54snurb"></div>

    <div id="ev-form-complete" style="display: none;">
      <div class="h h--sm">You’ve successfully entered. Good luck!</div>
      <p>Feeling inspired to escape a little sooner? We have many luxury escapes waiting to be discovered!</p>
      <div class="space--md"></div>
      <a href="https://www.secretescapes.com/" class="btn">View current sales</a>
    </div>

  </div>
</div>
<div class="space--xxl"></div>


{% include nav/footer.html %}
