---
layout: default
id: overview
locale: uk


title: Thailand | Real people, real journeys


intro: >
  <p class="p--xxxl ">We want to showcase the wonders of the ultimate Secret Escape to Thailand through the eyes of the traveller, and we want YOU to experience it! We are looking for a passionate travelling duo to send on holiday with a small film crew. You will get to taste, meet, see, feel, LIVE the very best of Thailand.</p>
  <p class="p--xxxl ">All you need to do to enter is record a short video telling us what excites you most about Thailand? And who would you bring on this trip of a lifetime and why?</p>
  <div class="space--md"></div>
  <a href="#enter" class="btn">Enter now</a>


journey:

  - title: Your adventure begins in Bangkok
    content: >
      <p>There’s a reason why Thailand is such a well-loved travel destination, but don’t just take our word for it. On this trip, you’ll get up close to the floating food markets in Bangkok, explore ornate temples, try your hand at a cooking class and travel by tuk tuk along the bustling streets before you immerse yourself in Bangkok’s legendary nightlife. </p>

  - title: Relax in tropical Thailand
    content: >
      <p>Then we’ll send you south to the islands. First stop, Phuket. Adventure through sea caves, kayak in blue lagoons and marvel at the limestone cliffs that surround you. After all that activity, you might be in need of some rest and relaxation, and lucky for you, your last stop is dreamy Khao Lak where pristine beaches and  crystal clear waters await. Take a boat trip out to sea and snorkel among the tropical fish. Lush nature is also on the cards with a bamboo rafting trip through the jungle where you’ll feel the spray of the majestic waterfalls. </p>

  - title: Choose your travel partner
    content: >
      <p>Social distancing has meant some of us have been away from our loved ones for the longest periods of our lives. Now that we can safely be together again, we want to know who you would choose to spend this once in a lifetime experience with? Perhaps an adventurous parent who’s always dreamed of travelling to Thailand, or a budding young photography friend who has some serious talent to show off? Maybe it’s someone who lives halfway around the world who you haven’t seen for years and you want to reunite in one of the greatest places on earth?</p>

  - title: Welcome
    content: >
      <p>Thailand is more than ready to welcome guests back, and after a period of no travel, it’s arguably more beautiful than ever. The beaches are sparse and plentiful, making it easy to feel like you have them to yourself. This November we’ll be jetting you and your travel buddy off to this incredible country for some much-needed winter sun and adventure. </p>


form-cta:
  title: Thailand is waiting
  content: >
    <p class="p--xxl">Are you ready to discover the very best of Thailand? Start your entry below and then upload your short video recording to be in to win this trip of a lifetime. </p>
    <p class="p--xxl ">Remember, all we'd like to know is; what excites you most about Thailand? And who would you bring on this trip of a lifetime and why?</p>

form:
  id: comp
  post-url: "#getFormUrl"
  expiry-date: 2050-01-01
  fields:
    - id: name
      type: text
      label: Name
      required: true
    - id: email
      type: email
      label: Email
      required: true
    - id: qualify
      type: radio
      label: Are you a UK resident and over the age of 18?
      required: true
      options:
        - id: qualify-true
          label: 'Yes'
          value: 'yes'
        - id: qualify-false
          label: 'No'
          value: 'no'
          invalid: true
  submit: Upload video & complete entry
  terms: >
    By submitting your entry, you agree to the <a href="#" class="js-open-modal link--underlined" data-open-modal="competition-terms">terms and conditions</a> of this competition

---


{% include nav/header.html %}
<div class="page-bg"></div>


<div class="container container--xxl vpad--xxl text--center">
  <div class="title-svg"></div>
</div>

{% include page/banner.html %}

<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}

  <div class="space--xl"></div>

  <div class="journey__before"></div>
  <div class="journey">
    {% for item in page.journey %}
    <div class="step{% cycle '', ' step--swap'%}">
      <div class="step__img">
        <div class="step__img-icon" style="background-image: url({{site.img}}/{{page.id}}/step-{{forloop.index}}.jpg);"></div>
      </div>
      <div class="step__text">
        <h4 class="h h--sm">{{item.title}}</h4>
        <div class="space--xxs"></div>
        <span class=" p--xl">{{item.content}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="journey__after"></div>

  <div class="space--lg"></div>

  <div class="container container--xl text--center" id="enter">
    <h4 class="h h--lg">{{page.form-cta.title}}</h4>
    {{page.form-cta.content}}
    <div class="space--md"></div>

    <div id="entry-form" class="vpad--md">
      {% assign form = page.form %}
      <form class="form boilerform competition-form" action="{{form.post-url}}" method="POST" data-expires="{{form.expiry-date}}" novalidate>
        {% include form/messages.html %}
        <div class="form__content width width--md">
          {% for item in form.fields %}
            <div class="form__input js-form-input">
              {% case item.type %}
                {% when 'text' %}
                  {% include form/text.html data=item %}
                {% when 'text-long' %}
                  {% include form/text-long.html data=item %}
                {% when 'email' %}
                  {% include form/email.html data=item %}
                {% when 'radio' %}
                  {% include form/radio.html data=item %}
                {% when 'checkbox' %}
                  {% include form/checkbox.html data=item %}
                {% when 'select' %}
                  {% include form/select.html data=item %}
              {% endcase %}
            </div>
          {% endfor %}
          <div class="space--sm"></div>
          <p class="text--sm text--normal">{{form.terms}}</p>
          <div class="space--sm"></div>
          <button type="submit" class="btn" disabled>{{form.submit}}</button>
        </div>
      </form>
    </div>

  </div>
</div>
<div class="space--xxl"></div>


{% include nav/footer.html %}
